.App {
  background-color:#005F73;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
  background: #9dc4a7;
  font-family:'Gill Sans MT'
}

.leaflet-control-container .leaflet-top.leaflet-left { position: absolute; left: 10px; top: 90px;}
.leaflet-control-container .leaflet-top.leaflet-right { position: absolute; right: 10px; top: 90px;}
.leaflet-control-layers .leaflet-control {visibility: 'hidden'}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body::-webkit-scrollbar{
  display: none;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media print {
  report-inner-div {
    height: 100%;
  }
}


#head-desc {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  line-height: 1;
  text-align:center;
  background-color:#005F7395;
}

#head-desc2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  line-height: 1;
  text-align:center;
  background-color:#005F7395;
}

#head-desc3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  line-height: 1;
  text-align:center;
  background-color:#A8008495;
}


#info-div {
  position:absolute;
  width: 30%;
  top: 20%;
  left: 35%;
  height: 55%;
  line-height: 1;
  text-align:left;
  background-color:white;
  z-index: 300000000;
  border-radius: 8px;
  padding: 20px;
  overflow-y: scroll;
}

#tooltip2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute; 
  right: 10px;
  top: 100px;
  line-height: 1;
  text-align:left;
  background-color:white;
  z-index: 300000000;
  border-radius: 8px;
  padding: 5px;
}


#report-div {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position:absolute;
  width: 40%;
  top: 20%;
  left: 30%;
  height: 60%;
  line-height: 1;
  text-align:left;
  background-color:white;
  z-index: 300000000;
  border-radius: 8px;
  padding: 20px;
  overflow-y: scroll;
}

#report-div-print {
  position:absolute;
  margin: 100px;
  width: 900px; /* width: 7in; */
  line-height: 1;
  text-align:left;
  background-color:white;
  z-index: -100;
  border-radius: 8px;
  padding: 20px;
}

#compare-table {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#compare-table td, #compare-table th {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid #ddd;
  padding: 4px;
}

#compare-table tr:nth-child(even){background-color: #f2f2f2;}

#compare-table tr:hover {background-color: #ddd;}

#compare-table th {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #005F73;
  color: white;
}



#legend {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 200px;
  position:absolute;
  bottom: 11%;
  right: 2%;
  line-height: 1;
  text-align:left;
  background-color:white;
  z-index: 300000001;
  border-radius: 8px;
  padding: 5px;
}

span2 {
  position: relative;
  bottom: 3px;
}

i {
  width: 48px;
  height: 12px;
  border-radius: 0px;
  float: left;
  margin: 0 0 0 4;
  opacity: 1;
  border-style: solid;
  border-width: 1px;
  border-color:#e8e6e6;
}

.i2 {
  width: 11px;
  height: 11px;
  border-radius: 12px;
  float: left;
  margin: 0 10px 0 0;
  opacity: 1;
}

.i3 {
  float: center;
  margin: 0 2px 0 0;
  opacity: 1;
}

.i4 {
  width: 24px;
  height: 3px;
  float: left;
  margin: 4px 10px 0 0;
  opacity: 1;
}

i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

#ErrorDiv {
  color: red;
  text-align: left;
  font-weight: bold;

}

h1 {
  color:white;
  font-family:'Gill Sans MT';
  text-align:center;
  margin: 10px;
}

#country {
  width: 30%;
}

.p1 {
  color: gray;
  text-align: left;
  text-justify: auto;

}

/* Style inputs, select elements and textareas */
input[type=textarea]{
  width: 100%;
  height: 60px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  word-wrap: break-word;
  word-break: break-all;
}

/* Style inputs, select elements and textareas */
select{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  text-wrap: wrap;
  
}

/* Style the submit button */
.button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top:10px;

}

.button1 {
  background-color: #04AA6D;
  float: right;
  padding: 12px 20px;
}

.button2 {
  background-color: #04AA6D;
  padding: 1px 6px;
}

.button3 {
  background-color: #3C4F76;
  padding: 6px 6px;
  margin-left: 5px;
  margin-right: 5px;
}

.button4 {
  background-color: #005F73;
  padding: 6px 6px;
  margin-left: 5px;
  margin-right: 5px;
}

.button5 {
  background-color: #0A9396;
  padding: 6px 6px;
  margin-left: 5px;
  margin-right: 5px;
}

.button6 {
  color:black;
  background-color: #94D2BD;
  padding: 6px 6px;
  margin-left: 5px;
  margin-right: 5px;
}

.button7 {
  color: black;
  background-color: #E9D8A6;
  padding: 6px 6px;
  margin-left: 5px;
  margin-right: 5px;
}

.button8 {
  background-color: #EE9B00;
  padding: 6px 6px;
  margin-left: 5px;
  margin-right: 5px;
}

.button9 {
  background-color: #BB3E03;
  padding: 6px 6px;
  margin-left: 5px;
  margin-right: 5px;
}

.button10 {
  background-color: #9B2226;
  padding: 6px 6px;
  margin-left: 5px;
  margin-right: 5px;
}

.button11 {
  background-color: #354d36;
  padding: 6px 6px;
  margin-left: 5px;
  margin-right: 5px;
}

.button12 {
  background-color: #66507d;
  padding: 6px 6px;
  margin-left: 5px;
  margin-right: 5px;
}

.button13 {
  background-color: #3C4F76;
  padding: 8px 12px;
  margin-left: 5px;
  margin-right: 5px;
}

.button14 {
  background-color: #363636;
  padding: 8px 12px;
  margin-left: 5px;
  margin-right: 5px;
}
.button15 {
  background-color: #7d6c4a;
  padding: 8px 12px;
  margin-left: 5px;
  margin-right: 5px;
}
.button16 {
  background-color: #363636;
  padding: 8px 12px;
  margin-left: 5px;
  margin-right: 5px;
}
.button17 {
  background-color: #363636;
  padding: 8px 12px;
  margin-left: 5px;
  margin-right: 5px;
}
.button18 {
  background-color: #363636;
  padding: 8px 12px;
  margin-left: 5px;
  margin-right: 5px;
}

.button19 {
  background-color: #363636;
  padding: 8px 12px;
  margin-left: 5px;
  margin-right: 5px;
}

.test_skill {
  border: 5px solid white;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
  width: 200px
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 30%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 70%;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.close {
  position: absolute;
  top: 0%;
  right: 0%;
  color: black;
  background-color: #E9D8A6;
  padding: 1px 6px;
  margin-left: 5px;
  margin-right: 5px;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}